springmvc/src/win/sayno/label/property.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://www.sayno.win/schema/property"
    elementFormDefault="qualified">
    <element name="property">
    <complexType>
        <attribute name="id" type="string"/>
        <attribute name="name" type="string"/>
        <attribute name="value" type="string"/>
        </complexType>
    </element>
</schema>